.age-chart{
    grid-column:1/-1;
    background:var(--clr-secondary-bg);
    border-radius:20px;
    padding:1em;
}
@media screen and (max-width : 400px){
    .age-chart{
        overflow:scroll;

    }
    .age-chart .rv-xy-plot {
    }
    .age-chart .rv-xy-plot__inner {
    }
}