.map{
    /* padding: 2em; */
    margin: 1em;
}

.hospitals{
    padding: 1em;
    /* border: solid; */
    
}
.hospitals p{
    /* margin: 5em; */
    background-color: var(--clr-bg);
    margin: 1em;
    /* border: solid; */
    text-align: center;
    font-size: 1.2em;
    color:var(--clr-primary);
    border-radius:8px;
    
    
    
}
.hospitals a:link{
    padding:.4em;
    width:100%;
    display:block;
    text-decoration: none;
    color:var(--clr-primary)

}