.Form h1{
    text-align:center;
}
h2{
    font-weight:600;
}
form{
    background-color: var(--clr-secondary-bg);
    color:var(--clr-primary);
    display:flex;
    flex-direction: column;
    align-items: center;
    margin: 1em auto;
    border-radius:20px;
    padding:1em 0;
    width:max(60vw, 350px);
    
}

.info-div,.btn{
    margin:1em 0;
    width:max(300px, 70%);
    padding:2em;
    border:2px solid gray;
    border-radius:20px;
}
.info-div label{
    
    display:block;
    margin-bottom:.1em;
    margin-left: .5em;
}

input[type="radio"]{
     width:1em !important; 
    background:rgb(34, 15, 15);
    cursor:pointer;
}

input[type="radio"] + label{
    display:inline-block;
    margin-right:2em;
    margin-bottom:1.5em;
    cursor:pointer;

}
.info-div input:not([type="radio"]),select{
    margin-bottom:.8em;
    padding:.5em .75em;
    border-radius:100vw;
    background-color: transparent;
    color: var(--clr-primary);
    border:var(--clr-primary) 2px solid;
    font-family: var(--font-family);
    width:100%;

}
input[type="number"]::-webkit-inner-spin-button{
    display: none;
}
option{
    background-color: var(--clr-secondary-bg);
}
.btn{
    background:transparent;
    padding:.5em;
    border-radius: 100vw;
    font-family: var(--font-family);
    font-size:1.2rem;
    font-weight:800;
    border:2px solid var(--clr-primary);
    color:var(--clr-primary);
    cursor:pointer;
    transition:.5s ease-out;
    transition-property: color background-color;
}
.btn:hover , .btn:focus{
    background:var(--clr-primary);
    color:var(--clr-secondary-bg)
}