.Output{
    display:grid;
    grid-template-columns: 1fr 1.5fr 1fr;
    padding:1em;
    gap:1em;
}
.charts{
    grid-column:1/2;
    display:flex;
    flex-direction:column;
    align-items:stretch;
    justify-content:stretch;
    gap:1em;
    /* background:red; */
}
.prediction-output{
    grid-column:2/3;
    background:var(--clr-secondary-bg);
    border-radius:20px;

}
.doctor-info{
    grid-column:3/-1;
    background:var(--clr-secondary-bg);
    border-radius:20px;
}
.title{
    text-align:center;
    margin:.5em auto;
    /* background:var(--clr-bg); */
    /* width:fit-content; */
    /* padding: */
}
.rv-xy-plot{
    margin:0 auto !important;
    display:block;
    width:100%;

}
.rv-xy-plot__inner{
    width:100% !important;
}
.chart-title{
    text-align:center;
}
@media screen and (max-width : 400px){
    .Output{
        grid-template-columns:1fr;
        /* overflow:hidden; */
        gap:.5em;
        padding:.5em;
    }
    .Output > *{
        width: calc(100vw - 1em);
        /* background:red; */
    }
    .prediction-output{
        grid-column:1/-1;
        grid-row:1/2;
    }
    .charts{
        gap:.5em;
    }
    .doctor-info{
        grid-column:1/-1;
        grid-row:2/3;

        
    }
}